{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2>Registro</h2>
    <form method="post">
        <div class="form-group">
            <label for="first_name">Nombre:</label>
            <input type="text" class="form-control" name="first_name" id="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name">Apellidos:</label>
            <input type="text" class="form-control" name="last_name" id="last_name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="departamento_nombre">Departamento:</label>
            <input type="text" class="form-control" name="departamento_nombre" id="departamento_nombre" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>

{% endblock %}
